/241120_1_ExemplesAPI_Sedna/build/
/241121_EPSedna/nbproject/private/
/241121_EPSedna_App/nbproject/private/
/241121_EPSedna_App/build/
/241121_EPSedna/build/
/241127_EPExistDB/nbproject/private/
/241127_1_ComEstablirConnexioViaXQJ/nbproject/private/
/241127_2_ProgramaXQJconnectantBaseX/nbproject/private/
/241127_3_ProgramaXQJconnectantSedna/nbproject/private/
/241127_4_ProgramaXQJconnectantExist/nbproject/private/
