/241120_1_ExemplesAPI_Sedna/build/
/241121_EPSedna/nbproject/private/
/241121_EPSedna_App/nbproject/private/
/241121_EPSedna_App/build/
/241121_EPSedna/build/
/241127_EPExistDB/nbproject/private/
/241127_1_ComEstablirConnexioViaXQJ/nbproject/private/
/241127_2_ProgramaXQJconnectantBaseX/nbproject/private/
/241127_3_ProgramaXQJconnectantSedna/nbproject/private/
/241127_4_ProgramaXQJconnectantExist/nbproject/private/
/241127_9_ExemplesAPI_XQJ_4/nbproject/private/
/241127_6_ExemplesAPI_XQJ_1/nbproject/private/
/241127_7_ExemplesAPI_XQJ_2/nbproject/private/
/241127_8_ExemplesAPI_XQJ_3/nbproject/private/
/241127_5_ProgramaXQJconnectantOracle/nbproject/private/
/241127_5_ProgramaXQJconnectantOracle/build/
/241127_6_ExemplesAPI_XQJ_1/build/
/241127_6_ExemplesAPI_XQJ_1/dist/
/241127_7_ExemplesAPI_XQJ_2/build/
/241127_9_ExemplesAPI_XQJ_4/build/
